<div class = 'container'>
  <form method = 'post' action = '/users/create'></br></br>
    Name:<input type = 'text' name= 'new_user[name]'/></br></br>
    Email:<input type = 'text' name= 'new_user[email]'/></br></br>
    Username: <input type = 'text' name= 'new_user[user_name]'/></br></br>
    Password: <input type = 'password' name= 'new_user[password]'/></br></br>
    <input type = 'submit' value = 'login'/></br></br>
  </form>
</div>
