<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FlashChards</title>
    <meta name="description" content="Completed as a group project for the 2014 Squirrel Cohort at Dev Bootcamp Chicago."/>
    <meta name="author" content="Tara Roys, Lydia Koller, Kevin Falank, Cristin O'Connor, Ben Neuman, Brian Murphy" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/application.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
      <header class="page-header">
        <h1><a href="/">FlashChards</a><div class="small">Flashcards for Everyone</div></h1>
      </header>
      <nav class="navbar navbar-default" role="primary">
        <ul>
          <li class="first"><a href="/">Home</a></li>
          <li class="last"><a href="/decks">Decks</a></li>
          <li class="navbar-right navbar-text"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;<a href='<%= "/users/#{session[:user_id]}" %>' class="navbar-link"><%= session[:username] %></a></li>
          <% if session[:user_id] %> <% else %>
            <li class="navbar-right"><a href="/" class="btn btn-default navbar-btn">Sign In</a></li>
          <% end %>
        </ul>
      </nav>
      <div class="content row" role="main"><%= yield %></div>
      <footer class="small">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-10"><span class="copyright">Copyright   <span class="glyphicon glyphicon-copyright-mark"></span> <%= Time.now.year %>. All Rights Reserved.</span><ul class="authors list-inline"><li><a href="#">Ben Neuman</a></li><li><a href="#">Brian Murphy</a></li><li><a href="#">Lydia Koller</a></li><li><a href="#">Kevin Falank</a></li><li><a href="#">Tara Roys</a></li><li><a href="#">Cristin O'Connor</a></li></ul></div>
            <div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0"><img src="/css/images/devbootcamp.png" class="logo pull-right" alt="Dev Bootcamp" title="Dev Bootcamp"></div>
          </div><!--row-->
        </div><!--container-->
      </footer>
    </div><!--container-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/bootstrap.js"></script>
  </body>
</html>

    
   