<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FlashChards</title>
    <meta name="description" content="Completed as a group project for the 2014 Squirrel Cohort at Dev Bootcamp Chicago."/>
    <meta name="author" content="Tara Roys, Lydia Koller, Kevin Falank, Cristin O'Connor, Ben Neuman, Brian Murphy" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/application.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
    <header class="row">
      <h1><a href="/">FlashChards</a></h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
    <div class="row">
      <%= yield %>
    </div>
    <footer class="footer row">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <span class="copyright">Copyright &copy;2014. All Rights Reserved.</span>
        <span class="authors">Ben Neuman, Brian Murphy, Lydia Koller, Kevin Falank, Tara Roys, Cristin O'Connor</span>
      </div>
      <div class="col-xs-6 col-md-4">
        <img src="http://scm-l3.technorati.com/12/12/13/73853/devbootcamp.png?t=20121213131231" class="logo" alt="Dev Bootcamp" title="Dev Bootcamp">
      </div>
    </footer>
  </div><!--.container-fluid-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
